body{
    height:100vh;
 background-color: #EDF5FE;   
 margin : 0;
}

.error-img {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:no-repeat center;
    background-size: contain;
  }